<!-- <div
<ul class="nav nav-pills">
	<li class="active"><a  href="{%url 'index'%}">漏洞测试</a></li>
	<li><a href="{%url 'poc_list'%}">poc列表</a></li>
	<li><a href="{%url 'history'%}">历史记录</a></li>
	<li ><a href="{%url 'about'%}">关于我们</a></li>
</ul>
</div> -->

<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" >漏洞测试</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<<li class="active"><a  href="{%url 'index'%}">漏洞测试</a></li>
				<li><a href="{%url 'poc_list'%}">poc列表</a></li>
				<li class="active"><a href="{%url 'history'%}">历史记录</a></li>
				<li ><a href="{%url 'about'%}">关于我们</a></li>
			</ul>
		</div>
		</div>
	</nav>